aiofiles
aiohttp
dnspython==2.3.0
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor==3.4.0
ntgcalls==1.1.2
pillow==9.5.0 
psutil
py-tgcalls==1.2.9
pykeyboard
pyrofork
python-dotenv
PyYAML
requests
wget
speedtest-cli
spotipy
tgcrypto
youtube-search
youtube-search-python
yt-dlp
numpy
git+https://github.com/AsmSafone/SafoneAPI
telegraph
pyfiglet
opencv-python==4.9.0.80
search_engine_parser
unidecode
gpytranslate
apscheduler
nekos.py==1.1.0
openai==0.28.0
